body {
    display: flex;
    justify-content: center;

}


.box {
    width: 30%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    &_header {
        // & => .box_header
        width: 90%;
        border: 1px solid red;
        padding: 20px;
        text-align: center;
    }

    &_section {
        // & => .box_header
        width: 90%;
        border: 1px solid blue;
        padding: 20px;
        text-align: center;
        margin-top: 10px;

        ul {
            list-style-type: none;
            background: hotpink;
            display: flex;
            gap: 60px;
        }

        // @media only screen and (max-width: 600px) {
        //     ul {
        //         // background: red;
        //         display: flex;
        //         flex-direction: column;
        //         gap: 60px;
        //     }
        // }


        @media only screen and (min-width:768px) and (max-width : 959px) {
            ul {
                background: green;
                display: flex;
                flex-direction: column;
                gap: 60px;
            }
        }

        .name {
            // background: saddlebrown;
        }


        &_list1 {
            // background: green;
        }
    }

    &_footer {
        // & => .box_header
        width: 90%;
        border: 1px solid pink;
        padding: 20px;
        text-align: center;
        margin-top: 10px;
    }
}
